.top{
    display: flex;
flex-direction: row;
background-color: #105191;
width: 100%;
}

.top-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-right{
    display: flex;
    margin-left: 980px;
}

.base{
    
    font-size: 30px;
    background-color: aqua;
}

img{
    width:100%
}